*{
    margin: 0px;
    box-sizing: border-box;
}

/* Cabeçalho */

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 100px 100px 100px;
}

.item{
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

/* header div{
    height: 50px;
    background-color: mediumvioletred;
    display: flex;
    flex-direction: row;
    align-items: center;
}

img{
    margin: 10px;
    width: 20px;
    height: 20px;
}

h1{
    font-size: 23px;
}

button{
}

/* Menu */

/* nav div{
    background-color: #f2d0e0;
} */ */
