body{
    margin: 10 px;
    background-color: #918085 ;
}
/*  Cabeçalho */
#cabecalho{
    border: white 5px inset;
    background-color: #a6808c;
    margin: 10px;
    font-family: 'Cinzel';
}

#titulo{
    text-align: center;
    font-size: 70px;
    color: gray;
    text-shadow: black 1px 1px 1px;
    margin: 0px;
}

#subtitulo{
    text-align: center;
    color: white;
    text-shadow: black 1px 1px 1px;
    margin:0px

}

h1{
    background-color: rgb(255, 255, 255, 0.397);
}
 /* Fim do cabeçalho */
 /* Menu */
#menu{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.219);

}

button{
    margin: 5px;
    padding: 10px;
}

a:hover{
    color: red;
}
img{
    width: 50px;
}