
*{
    margin: 0;
    box-sizing: content-box;
}
/* Cabeçalho */

header{
    border: 1px solid black;
    background-image: url('https://thumbs.dreamstime.com/b/abstraia-o-fundo-textura-da-folha-de-rose-gold-113323202.jpg');
    text-align: left;
    height: 180px;
    position: sticky;
    top: 0;
    width: auto;
}

#menu-superior{
    background-color: white;
    text-align: right;
    width: 100%;
}

#menu-superior button{

    margin: 3px 3px;
    
}

#titulo {
    border: 2px groove whitesmoke;
    margin: 15px;
    padding: 3px;
    background-color: #d3b1bca6 ;
}

#titulo h1, h2{
    font-family: 'Cabin', sans-serif;
}

header img{
    width: 85px;
    position:absolute
}

header h1{

    display: inline;
    font-size: 50px;
}


#menu{
    width: auto;
    height: 23px;
    background-color: rgb(179, 154, 170);
    text-align: left;
    padding: 3px;
}

#menu button{
    margin: 2px 5px
}

button:hover{
    background-color: rgba(255, 0, 0, 0.192);
    color: white;

}
button:active{
    background-color: white;
    color:rgba(255, 0, 0, 0.192);
}
/* Fim do cabeçalho */
footer{
    background-image: url('https://thumbs.dreamstime.com/b/abstraia-o-fundo-textura-da-folha-de-rose-gold-113323202.jpg');
    margin-top: 10px;
    border-top: 2px solid red;
    position: relative;
    bottom: 0;
    
}

footer img{
    width: 20px;
}

    /* background-color: #a6808c; */