*{
    margin: 0px;
    padding: 0px;
}

/* CABEÇALHO*/
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* border: 1px black solid; */
    height: 50px;
    background-color: rgb(245, 126, 82);
}

input{
    margin-right: 50px;

}

/* CORPO */

.container{
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 2px greenyellow solid; */
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 1fr);
}

.video-card{
    box-shadow: 2px 2px 2px darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 290px;
}

.video-card video{
    width: 290px;
}
/* FOOTER */
footer{
    /* border: 3px red solid; */
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    font-size: 30px;
    position: fixed;
    bottom: 0;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* celulares */

    /* CABEÇALHO*/
.cabecalho{
    height: 3vh;
    font-size: 12px;
}

input{
    width: 40vw;
    margin-right: 10px;

}


/* CORPO */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12vh;
}


}