*{
    margin: 0px;
    padding: 0px;
}

/* CABEÇALHO*/
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    background-color: rgb(245, 126, 82);
}

input{
    margin-right: 50px;
    height: 25px;

}

button{
    width: 100px;
    height: 25px;


}
/* MAIN */



.titulo-e-video{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 30px;
    gap: 10px;
}

h2{
    align-self: flex-start;
    font-size: 30px;
    margin-left: 200px;
}

video{
    width: 70%;
}

/* FOOTER */
footer{
    /* border: 3px red solid; */
    height: 50px;
    width: 100%;
    font-size: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;

}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* celulares */

    /* CABEÇALHO*/
.cabecalho{
    height: 3vh;
    font-size: 12px;
}

input{
    width: 30vw;
    margin-right: 10px;
}

button{
   width: 13vw; 
}


/* CORPO */

.titulo-e-video{
    margin: 2vh;
    gap: 10px;
}

h2{
    font-size: 2em;
    margin-left: 2vw;
}

video{
    width: 90vw;
}

/* FOOTER */
footer{
    position: fixed;
    bottom: 0;

}
}

/* @media all and (orientation: landscape) and (min-device-width : 320px) and (max-device-width : 480px ){
    video{
        width: 95vw;
    }
} */

@media screen and (min-device-width : 481px) and (max-device-width : 800px) {
    /* tablets */

    
    /* CABEÇALHO*/
.cabecalho{
    height: 7vh;
    font-size: 25px;
}

input{
    width: 30vw;
    height: 5vw;
    margin-right: 10px;
}

button{
   width: 15vw; 
   height: 5vw;
}


/* CORPO */

.titulo-e-video{
    margin: 2vh;
    gap: 10px;
}

h2{
    font-size: 3em;
    margin-left: 2vw;
}

video{
    width: 90vw;
}

/* FOOTER */
footer{
    position: fixed;
    bottom: 0;

}
}


}